*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.page-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    gap:10px;
    padding: 10px;
}

.square{
    background-color: rgb(196, 236, 247);
}