*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.title{
  font-size: 70px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(65, 134, 145);
  margin-bottom: 30px;
}

.gameplay-text {
  margin-top: 10px;
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    gap:10px;
    padding: 10px;
}

.square{
    background-color: rgb(196, 236, 247);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}